.lighting-tabs {



    .tab-list {
        margin    : 0;
        padding   : 0;
        list-style: none outside none;
        display   : flex;
        
        position  : relative;
        transition: opacity .3s;

        >.tab-list-item {
            margin: 0 2px;
            padding: 8px 16px;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            &.is-disabled {
                pointer-events: none;
                cursor        : default;
                color: #bbb;
            }

            &.is-active,
            &:hover {
                color        : #1677ff;
                text-shadow  : 0 0 .25px currentcolor;
                border-bottom: 2px solid #1677ff;
            }
        }
    }

    .tab-panels {
        padding: 16px;

        .tab-panel {
            display: none;

            &.is-active {
                display: block;
            }
        }
    }

    &.tabs-card {
        
        .tab-list {
            border-bottom: 1px solid rgba(5,5,5,.06);
            
            >.tab-list-item {
                margin-bottom: -1px;
                border: 1px solid rgba(5,5,5,.06);
                border-bottom: 0 none;
                background: rgba(0,0,0,.02);
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                &.is-active {
                    background-color: #fff;
                }
                &.is-disabled {
                    
                }
            }
        }
    }


}